@import "src/assets/sass/abstracts/vars";
@import "src/assets/sass/abstracts/mixins";

.content, .rich-text {
    border: $rich-content-border;
    line-height: 1.5;
    font-size: 12px;
    overflow: hidden;
    * {
        max-width: 100%;
    }
    @import "src/assets/sass/base/richtext";
}
.rich-text  {
    @import "src/assets/sass/variants/rich-text";
}
.content {
    @import "src/assets/sass/variants/page-content";
}
